<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />    
    <title>
      同款检测server调研接口
    </title>
    <style type="text/css">
      h1 {font-size:20px; text-align:center;}
      h2 {font-size:20px;}
      .btns{width:120px; height:30px;font-size:20px;}
    </style>
</head>
  <body>
    <h1> 商品流行度审核流程同款检测服务调研接口</h1>
    <br/>
    <form method="post" action="/result" align="center">
      <input type="hidden" name="method" value="debug"/>
      <h1> 请输入图片url <h1>
      <p><input type="text" name="imgurl" style="width:600px;height:25px"></p>
      <h2>选择输入图片的所属类别:</h2>
        <input type="radio" name="category" value="clothes" checked="checked"/> 衣服
        <input type="radio" name="category" value="shoes"/> 鞋子
        <input type="radio" name="category" value="bag"/> 包包
	    <input type="radio" name="category" value="acc"/> 配饰
	    <input type="radio" name="category" value="other"/> 其他
      <br />
      <br />
      <input type="submit" class= "btns" value="搜索">
    </form>

    <h1><img src="{{url}}" width="226" height="300" /></h1>    
    {% if success   %}
        {{ url }}
    {% else  %}
        <h1>无法计算url的特征向量： {{ url_no_feature }} </h1>
    {% end %}
     <hr/>

    {% if content  %}

        <table  border="2" cellspacing="0" cellpadding="6" rules="groups" frame="hsides" target="_blank" align="center">
          <tbody>
            <tr>
              <th>索引</th>           
              <th>图片</th>
              <th>距离</th>
              <th>twitter id</th>
              <th>goods id</th>
              <th>shop id</th>
              <th>catalog id</th>              
            </tr>
            <tr>
              <td>每周图片库</td>
              <td><img src="http://imgst.meilishuo.net{{content[0]['point'][4]}}" width="226" height="300" /></td>
              <td>{{content[0]['dis']}}</td>
              <td><a href="http://www.meilishuo.com/share/item/{{content[0]['point'][0]}}" target="_blank">{{content[0]['point'][0]}}</a></td>
              <td>{{content[0]['point'][1]}}</td>
              <td><a href="http://www.meilishuo.com/shop/{{content[0]['point'][2]}}" target="_blank">{{content[0]['point'][2]}}</a></td>
              <td>{{content[0]['point'][3]}}</td>              
            </tr>
            <tr>
              <td>每日图片库</td>
              <td><img src="http://imgst.meilishuo.net{{content[1]['point'][4]}}" width="226" height="300" /></td>
              <td>{{content[1]['dis']}}</td>
              <td><a href="http://www.meilishuo.com/share/item/{{content[1]['point'][0]}}" target="_blank">{{content[1]['point'][0]}}</a></td>
              <td>{{content[1]['point'][1]}}</td>
              <td><a href="http://www.meilishuo.com/shop/{{content[1]['point'][2]}}" target="_blank">{{content[1]['point'][2]}}</a></td>
              <td>{{content[1]['point'][3]}}</td>              
            </tr>
            <tr>
              <td>当前图片库</td>
              <td><img src="http://imgst.meilishuo.net{{content[2]['point'][4]}}" width="226" height="300" /></td>
              <td>{{content[2]['dis']}}</td>
              <td><a href="http://www.meilishuo.com/share/item/{{content[2]['point'][0]}}" target="_blank">{{content[2]['point'][0]}}</a></td>
              <td>{{content[2]['point'][1]}}</td>
              <td><a href="http://www.meilishuo.com/shop/{{content[2]['point'][2]}}" target="_blank">{{content[2]['point'][2]}}</a></td>
              <td>{{content[2]['point'][3]}}</td>              
            </tr>
          </tbody>
        </table>
    {% end %}

  </body>
</html>

